# Xcode distribution logs
Logs/

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Secrets
Secrets.plist
*.xcconfig.local
